<html>
    <body>
        <h2>create post</h2>
        <!-- form -->
        <form action="/admin/create/" method="POST" autocomplete="off">
            <!-- title -->
            <div class="form-group">
                <label for="title">Title:</label><br>
                <input type="text" name="title" size="70" value="">
            </div>
            <br>
            <!-- content -->
            <div class="form-group">
                <label for="content">Content:</label><br>
                <textarea name="content" rows="20" cols="75"></textarea>
            </div>
            <br>
            <!-- submit button -->
            <input type="submit" value="Save Post">
        </form>
    </body>
</html>
