<html>
    <body>
        <h2>plog admin panel</h2>

        <!-- navigation -->
        <h3>Links:</h3>
        <ul>
            <li>
                <a href="#">Create new post</a>
            </li>
            <li>
                <a href="#">Log out</a>
            </li>
        </ul>

        <!-- posts -->
        {% if posts %}
        <h3>Posts:</h3>
        <ul>
            {% for post in posts %}
            <li>
                {{ post.created.strftime('%Y-%m-%d') }} -
                <a href="#">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
