{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AttributeError.com</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/blog-home.css" %}" rel="stylesheet">

    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <style>
        .emoji {
            font-size: 15px;
            height: 15px;
            vertical-align: middle;
        }
        .header-text {
            color: white;
        }
    </style>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">[ AttributeError.com ]</a>
        <span class="header-text">A brief glimpse inside the mind of a python developer</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="#">About</a>#}
                {#                </li>#}
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="#">Services</a>#}
                {#                </li>#}
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="#">Contact</a>#}
                {#                </li>#}
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Side Widget -->
            <div class="card my-4">
                <div class="card-body">
                    <div style="text-align: center;">
                        <h5>Kyle Hanks</h5>
                        <ul class="list-group" style="padding-top: 15px; text-align: left;">
                            <li class="list-group-item">
                                <i class="em em-computer emoji"></i> Senior Python Engineer
                            </li>
                            <li class="list-group-item">
                                <i class="em em-palm_tree emoji"></i> Venice, CA
                            </li>
                            <li class="list-group-item">
                                <i class="em em-heart emoji"></i> Angela
                            </li>
                            <li class="list-group-item">
                                <i class="em em-dog2 emoji"></i> Moose
                            </li>
                            <li class="list-group-item">
                                <i class="em em-cat emoji"></i> GM & Maeby
                            </li>
                        </ul>
                        <br>
                        <span>
                            <a href="https://github.com/xlyk/">github</a> -
                            <a href="https://www.linkedin.com/in/kyle-hanks-6a230638/">linkedin</a> -
                            <a href="https://www.instagram.com/kyleh4nks/">instagram</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blog Entries Column -->
        <div class="col-md-8">
        <div class=" my-4">
            {% for post in posts %}
                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text">
                            <u>{{ post.title | title }}</u> <br>
                            <i>{{ post.formatted_created_at }}</i>
                            <br>
                            {{ post.body | safe | truncatechars:500 }}
                        </p>
                        <a href="#" class="btn btn-primary">
                            Read More &rarr;
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>

        <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<!-- Footer -->

<!-- Bootstrap core JavaScript -->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>
